<div class='splash'>
  <div class='title'>
    <h1> Budget Tracker</h1>
  </div>
  <div class='link-buttons'>
    <button class='login-button'>
      Login
    </button>
    <br />
    <button class='signup-button'>
      Sign Up
    </button>
  </div>
</div>
