<div class="header-1">
  <div class="back">
    <a href="/categories" class="back-link"><span class='back-arrow'> &#8592; </span></a>
  </div>
  <div class="middle-title">
    <center>
      <h1>New Category</h1>
    </center>
  </div>
  <div class="next">
    &nbsp;
  </div>
</div>
<div class="sign-up-form">
  <%= render "form", category: @category %>
</div>
